<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
    <!--  <add name="CS" connectionString="Data Source=localhost\inst001;Initial Catalog=Seminotti_Teste;Integrated Security=True;User ID=sa;Password=123456;Connect Timeout=120" providerName="System.Data.SqlClient" /> 
    -->  <add name="CS" connectionString="" />
      <add name="CSs" connectionString="Data Source=demotmsql\demonstracao;Initial Catalog=Seminotti_Teste;Integrated Security=True;User ID=sa;Password=P@ssw0rd!;Connect Timeout=120" providerName="System.Data.SqlClient" /> 
    </connectionStrings>
  <appSettings>
    <add key="LocalLog" value="c:\Log.txt"/>
    <add key="ConfigInicial" value="false"/>    
  </appSettings>
</configuration>